<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up OR Sign In</title>
</head>
<body>

<div id="collection">
{{ collection }}
<h1>Sign Up Form</h1>
<form name="signup_form" method="POST">
    <div>
        {{ read.csrf_token }}
        {{ read.read }}
    </div>
</form>

<br>
<br>

<h1>Sign In Form</h1>
<form name="signin_form" method="POST">
    <div>
        {{ write.csrf_token }}
        {{ write.name.label.text }}: {{ write.name }}
        {{ write.email.label.text }}: {{ write.email }}
        {{ write.write }}
    </div>
</form>
</div>

</body>
</html>